<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Anna Kohovich</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no,  shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     
        
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
  
</head>
<body>
    <header class="nav-main">
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-default nav-main-navbar" id="MyNavbar">
                    <a class="navbar-brand nav-main-navbar__title" href="#" >Анна Кохович</a>
                    <button class="navbar-toggler navbar-default navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon">
                           
                      </span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end nav-main-navbar__list" id="navbarNav">
                      <ul class="navbar-nav">
                       <li class="nav-item active">
                          <a class="nav-link" href="#ex1">О себе</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#ex2">Портфолио</a>
                        </li>
                       </ul>
                    </div>
                  </nav>
                </div>
            </header>
            <h1 class="visually-hidden">Портфолио frontend разработчика</h1> 
           
            <section class="grid-post autor block2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ">
                                   
                                    <ul class="contacts">
                                        <li>
                                            <p><img class="contacts__icon icon" src="img/map.svg" alt="">Минск</p>
                                        </li>
                                        <li>
                                            <a  href="mailto:kohovich.anna@gmail.com"><img class="contacts__icon icon" src="img/email.svg" alt="">kohovich.anna@gmail.com</a>
                                        </li>
                                        <li>
                                            <a  href="tel:+375257392843"><img class="contacts__icon icon" src="img/phone.svg" alt="">+375(25) 739-28-43</a>
                                        
                                        </li>
                                        <li>
                                            <a  href="https://github.com/AnnaKoha" target="_blank"><img class="contacts__icon icon" src="img/gitHub.svg" alt="">https://github.com/AnnaKoha</a>
                                        
                                        </li>
                                    </ul>
                            </div>
                            <div class="col-md-5">
                                    <div class="autor__ava"></div> 
                            </div>
                        </div>
            </section>
    <section class="grid-post about" id="ex1">
            <div class="container">
               <h2 class="title visually-hidden">Обо мне</h2>
                <nav class="" id="about-nav">
                                <ul class="nav nav-pills justify-content-center nav-fill about-nav-navbar" >
                                    <li class="nav-item active">
                                        <a class="nav-item nav-link active" id="nav-skills-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-skills" aria-selected="false">Навыки</a>
                                
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">Опыт работы</a>
                                
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-item nav-link education-nav" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Образование</a>
                                
                                    </li>
                                    <li class="nav-item visually-hidden">
                                        <a class="nav-item nav-link" id="nav-hobbi-tab" data-toggle="tab" href="#nav-hobbi" role="tab" aria-controls="nav-hobbi" aria-selected="false">Хобби</a>
                                </li>
                                </ul>
                    
                </nav>
                 
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade experience" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
                        <div class="row">  
                                <div class="col-md-2 ">
                                    <div class="experience__icon icon"></div>
                                </div> 
                                <div class="col-md-5">
                                        <ul class="list experience-list">
                                            <li><span>Kapitan</span>, Минск – <span>инженер-программист</span></li>
                                            <li>2013 - 2019</li>
                                            <li></li>
                                            <li>
                                                Разработка web и desktop приложений,  отчетов в FastReport и DevExpress, написание хранимых процедур и SQL-запросов, планов выполнения запросов.
                                                </li>
                                            <li>Опыт работы с <span>C#</span>, <span>.NET Framework</span>, <span>ASP.NET MVC</span>, <span>MS Sql</span>, <span>FastReport</span>, <span>DevExpress</span>, <span>JQuery</span>, <span>Photoshop</span></li>
                                            </ul>
                                </div>
                                <div class="col-md-5">
                                        <ul class="list experience-list">
                                            <li><span>Rovensys</span>, Минск – <span>инженер-программист</span></li>
                                            <li>2013 - 2014</li>
                                            <li>web приложение</li>
                                            <li>Опыт работы с <span>C#</span>, <span>.NET Framework</span>, <span>MS Sql</span>, <span>CSS</span></li>
                                        </ul>
                                </div>
                        
                            </div>
                    </div>
                    <div class="tab-pane fade skills show active" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
                    <div class="row">  
                        <div class="col-md-2 skills">
                            <div class="skills__icon icon"></div>
                        </div> 
                        <div class="col-md-4">
                            <ul class="list skills-list">
                                <li>HTML</li>
                                <li>Методология БЭМ</li>
                                <li>CSS3, SASS, SCSS, LESS</li>
                                <li>Yarn, Gulp, Git, PixelPerfect</li>
                                <li>Bootstrap, Adaptive layout</li>
                                <li>jQuery, JavaScript</li>
                                
                            </ul>
                            <p>Уровень английского языка - pre-intermediate</p>
                    </div>
                    <div class="col-md-3">
                            <ul class="list skills-list">
                                <li>Photoshop</li>
                                <li>Ilustrator</li>
                                <li>Figma </li>
                                <li>Sketch</li>
                                <li>PrimerPro</li>
                                
                            </ul>
                    </div>
                    <div class="col-md-3">
                            <ul class="list skills-list">
                                <li>ООП</li>
                                <li>C#, .NET Framework</li>
                                <li>MS Sql</li>
                                <li>FastReport</li>
                                
                            </ul>
                    </div>
                    </div>
                    
                </div>
                    <div class="tab-pane fade education" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                        <div class="row">   
                            <div class="col-md-2 education-demo">
                                <div class="education-demo__icon icon"></div>
                            </div>
                            <div class="col-md-10">
                                <ul class="list">
                                    <li><span>Барановичский государственный университет</span>, Барановичи</li>
                                    <li>2008 - 2013</li>
                                    <li>Инженерный факультет, Информационные системы и технологии</li>
                                    <li><span>Инженер-программист</span> </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="tab-pane fade hobbi visually-hidden" id="nav-hobbi" role="tabpanel" aria-labelledby="nav-hobbi-tab">
                        <div class="row">   
                            <div class="col-md-2 ">
                                    <div class="hobbi__icon icon"></div>
                                    </div>
                            <div class="col-md-10">
                            <ul class="list hobbi-list">
                                <li>Увлекаюсь монтажом видео  в <span>PrimerPro</span></li>
                                <li>Нравится создавать  дизайн-интерьеров в <span>PlanoPlan</span></li>
                                <li>Хожу в спортзал. Могу поддержать беседу о наборе мышечной массы, тренингах  и правильном питании</li>
                                <li>Читаю бизнес-литературу и книги про саморазвитие</li>
                                <li>Люблю путешествовать, с каждого отдыха на память привожу видеоролик</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-12">
                            
                    </div>
             </div> 
             <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                        
                    </div>
             </div>       
        </div>
    </section>
    <a name="3"></a>
    <section class="grid-post portfolio block3" id="ex2">
        <div class="container">
            <h2 class="portfolio__title title visually-hidden" >Портфолио</h2>
            <div class="row">
                <div class="col-md-6">
                        
                        <a href="https://annakoha.github.io/Bukee/" target="_blank" class="card" >
                         <img src="img/Bukee.jpg" class="card-img-top" alt="Bukee">
                                <div class="card-body">
                                    <div class="card-body__desc"> 
                                        <h5 class="card__title">Bukee</h5>
                                        <p class="card-text">
                                            Учебный проект
                                            <small>(Flexbox CSS, Adaptive layout , Gulp 4, Yarn, Scss, jQuery Plugin, Canvas)</small>
                                            
                                        </p>
                                    </div>
                                    <div class="card-body_icon"></div>
                                </div>
                        </a>
                            
                </div>
                <div class="col-md-6">
                        <a href="https://annakoha.github.io/Amazing/" target="_blank" class="card" >
                            <img src="img/Amazing.jpg" class="card-img-top" alt="Amazing">
                                   <div class="card-body">
                                       <div class="card-body__desc"> 
                                           <h5 class="card__title">Amazinge</h5>
                                           <p class="card-text">
                                               Учебный проект
                                               <small>(Flexbox CSS, Adaptive layout , Gulp 4, Yarn, Scss, jQuery Plugin, Canvas)</small>
                                           </p>
                                       </div>
                                       <div class="card-body_icon"></div>
                                   </div>
                           </a>
                    </div>
            </div>
            <div class="row"> 
            
                <div class="col-lg-3 col-md-4 col-6">
                    <a data-fancybox="gallery" href="img/Vivalingava_fin1.jpg" target="_blank" class="card"  >
                        <img src="img/Vivalingava_fin1.jpg" class="card-img-top img-fluid"  alt="Vivalingava">
                               <div class="card-body">
                                   <div class="card-body__desc"> 
                                       <h5 class="card__title">Vivalingava</h5>
                                       <p class="card-text">
                                        Коммерческий проект
                                        <small>(Photoshop Ilustrator)</small>
                                       </p>
                                   </div>
                                   <div class="card-body_icon"></div>
                               </div>
                       </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a data-fancybox="gallery" href="img/pl_1_f.jpg" target="_blank" class="card"  >
                        <img src="img/pl_1_f.jpg" class="card-img-top img-fluid"  alt="Vivalingava">
                               <div class="card-body">
                                   <div class="card-body__desc"> 
                                       <h5 class="card__title">Vivalingava</h5>
                                       <p class="card-text">
                                        Коммерческий проект
                                        <small>(Photoshop Ilustrator)</small>
                                       </p>
                                   </div>
                                   <div class="card-body_icon"></div>
                               </div>
                       </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a data-fancybox="gallery" href="img/p_2_f.jpg" target="_blank" class="card"  >
                        <img src="img/p_2_f.jpg" class="card-img-top img-fluid"  alt="Vivalingava">
                               <div class="card-body">
                                   <div class="card-body__desc"> 
                                       <h5 class="card__title">Vivalingava</h5>
                                       <p class="card-text">
                                        Коммерческий проект
                                        <small>(Photoshop Ilustrator)</small>
                                       </p>
                                   </div>
                                   <div class="card-body_icon"></div>
                               </div>
                       </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a data-fancybox="gallery" href="img/p_3_f.jpg" target="_blank" class="card"  >
                        <img src="img/p_3_f.jpg" class="card-img-top img-fluid"  alt="Vivalingava">
                               <div class="card-body">
                                   <div class="card-body__desc"> 
                                       <h5 class="card__title">Vivalingava</h5>
                                       <p class="card-text">
                                        Коммерческий проект
                                        <small>(Photoshop Ilustrator)</small>
                                       </p>
                                   </div>
                                   <div class="card-body_icon"></div>
                               </div>
                       </a>
                </div>
            </div>
         
           
        </div>
    </section>



   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
        })
        $( '#MyNavbar .navbar-nav a' ).on( 'click', function () {
        $( '#MyNavbar .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
        });
   </script>

</body>
</html>